body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.anaglyph {
  color: black;
  letter-spacing: 12px;
  text-shadow: red 0 0, cyan 0 0;
  transition: text-shadow 200ms;
  text-decoration: none;
  cursor: none;
}

.anaglyph:hover {
  text-shadow: red -6px 0, cyan 6px 0;
}

.foto {
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}